@model List<PassionProject.Models.Make>
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form method="POST" action="/Bike/Add">

    <div>
        <span> Make:</span>
        <select id="Makeid" type="text" name="MakeID">
            @{
                foreach (var Make in Model)
                {
                    <option value="@Make.MakeID">@Make.Name</option>
                }
            }
        </select>
    </div>
</form>